@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Paytone+One&family=Poppins:wght@400;600&display=swap');
/*
    font-family: 'Pacifico', cursive;

    font-family: 'Paytone One', sans-serif;

    font-family: 'Poppins', sans-serif;*/

*{
	padding: 0;
	margin: 0;
}


.navbar{
	width:90%;
	max-width: 1000px;
	font-size: 1.3rem;
    font-family: 'Pacifico', cursive;
	margin: 0 auto;
	padding:1rem 0;
	display: flex;
	justify-content: space-between;
}


.navlink{
	text-decoration: none;
	color: inherit;
}

.main{
	height:65vh;
	padding:2rem 1rem;
    font-family: 'Poppins', sans-serif;
	width:90%;
	margin:0 auto;
	display: flex;
	justify-content: space-around;
}

.form{
	/*display: block;*/
	width:55%;
	display: grid;
	place-content: center;
}

.form input{
	display: block;
	font-size: 1.1rem;
	border: 2px solid black;
	width:80%;
	margin:2rem 0;
	padding:0.6rem 1.5rem;
}

.form button{
	background: transparent;
	box-shadow: 0px 0px 0px transparent;
	border: 2px solid #FFA434;
	background-color: #191847;
	border-radius:8px;
	color: #FFA434;
	text-shadow: 0px 0px 0px transparent;
	font-size: 1.2rem;
	text-decoration: none;
	padding:0.3rem 1.7rem;
}

.form h2{
    font-size: 1.1rem;
    margin-top: 1.8rem;
}

.image{
	display: grid;
	place-content: center;
	width:45%;
}

.image img{
	/*width:58%;*/
	width:100%;
}
