@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Paytone+One&family=Poppins:wght@400;600&display=swap');
/*
    font-family: 'Pacifico', cursive;

    font-family: 'Paytone One', sans-serif;

    font-family: 'Poppins', sans-serif;*/

*{
	padding: 0;
	/*border:1px solid red;*/
	margin: 0;
}

body{  /*
	background: #ee0979;  
	background: -webkit-linear-gradient(to right, #ff6a00, #ee0979);
	background: linear-gradient(to right, #ff6a00, #ee0979);
	font-family: 'Poppins', sans-serif; */

  background-image: url("Linth.png");
    font-family: 'Poppins', sans-serif;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;  
}


.container{
	background-color: white;
	border-radius:8px;
	padding:2rem 3rem;
	height: 70vh;
	background: rgba( 255, 255, 255, 0.98 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 3.5px );
	-webkit-backdrop-filter: blur( 3.5px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	width: 85%;
	margin:2rem auto;
}

.cont{
	margin:7rem 3rem;
}

button{

	background: transparent;
	box-shadow: 0px 0px 0px transparent;
	background-color: #2E39A9;
	border-radius:8px;
	box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
	color: white;
	text-shadow: 0px 0px 0px transparent;
	font-size: 1.2rem;
	text-decoration: none;
	padding:0.3rem 1.7rem;
}

.list{
	width:70%;
	margin:3rem 0;
	display: flex;
	justify-content: space-between;
}

/*.upbtn{
	border:2px solid black;
}*/

.list .title,h2{
	width:40%;
}

.list .upbtn{
	width:10%;
}

